/** 
FONTES
*/

@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Stint+Ultra+Condensed&display=swap');

*{font-family: 'Stint Ultra Condensed', cursive; font-size: 1.05em;}

$width-content:600px;

$color-primary:#3E8EBB;

$button-hover-type: "lighten";

$button-hover-amount: 20%;

$color-green:#36ba9b;
$color-blue:#39aed9;
$color-yellow:#f5b946;
$color-red:#d94352;
$color-orange:#f4645f;

$theme-colors:()!default;
$theme-colors: map_merge(
    (
        "green": $color-green,
        "blue": $color-blue,
        "yellow": $color-yellow,
        "red": $color-red,
        "orange": $color-orange,
    ), $theme-colors
);



